For our exercise, we will go back to using our handy favorite fruits list to practice some loops!

In [ ]:
fruits = ['apples', 'bananas', 'blueberries', 'cherries', 'cantaloupes',
          'dates', 'figs', 'grapes','kiwis', 'mangos']

for fruit in fruits:
  print(fruit)
#For every fruit in the list of fruits print the fruit's name.

apples
bananas
blueberries
cherries
cantaloupes
dates
figs
grapes
kiwis
mangos

The helpful factor in writing for loops is that we are able to assign temporary variables with names that help represent a single item on the list, so that we can keep track of exactly what Python is iterating over.

For example, if we had a list of cars, or a list of cities that we would like to visit, we can assign the temporary variables in the following manner:

In [ ]:
for car in cars
#and
for city in cities

SyntaxError: ignored

There are many things that we can do with for loops; we will explore some of the concepts and some of the exciting things we can do and how we can use these concepts to help further our work with our data.

In [ ]:
fruits = ['apples', 'bananas', 'blueberries', 'cherries', 'cantaloupes',
          'dates', 'figs', 'grapes','kiwis', 'mangos']

for fruit in fruits:
  print(fruit.title() + " are in the top ten favorite fruits." + "\n")

Apples are in the top ten favorite fruits.

Bananas are in the top ten favorite fruits.

Blueberries are in the top ten favorite fruits.

Cherries are in the top ten favorite fruits.

Cantaloupes are in the top ten favorite fruits.

Dates are in the top ten favorite fruits.

Figs are in the top ten favorite fruits.

Grapes are in the top ten favorite fruits.

Kiwis are in the top ten favorite fruits.

Mangos are in the top ten favorite fruits.

In order to keep a for loop working as long as we would like it to it is important to remember a couple of points. First is that of course a for statement is needed in order to initiate a for loop. Another essential part of the beginning of a for loop is the inclusion of the colon(:). This colon helps Python know that we are starting a for loop with the conditions that we have set. 

Another important piece that we need to remember for creating and using for loops is proper indentation. Code under the for loop statement needs to be indented in order for Python to recognize it as part of our looping structure. Once we are ready to complete our loop, the next line of code (that is not intended for our loop) in not indented, representing a new block of code. Leaving this text indented with the our for loop block will cause Python to think that our new line of code is actually part of the loop and apply it to all the items in our list. 

As an example, if we wanted to make a final statement after our current loop that said each fruit was part of the top ten favorite fruits, we unindent and include our new statement.

In [ ]:
fruits = fruits = ['apples', 'bananas', 'blueberries', 'cherries', 'cantaloupes',
          'dates', 'figs', 'grapes','kiwis', 'mangos']
for fruit in fruits:
  print(fruit.title() + " are in the top ten favorite fruits." + "\n")
print("I wonder if more data would lead to different fruits being on the top ten list")

Apples are in the top ten favorite fruits.

Bananas are in the top ten favorite fruits.

Blueberries are in the top ten favorite fruits.

Cherries are in the top ten favorite fruits.

Cantaloupes are in the top ten favorite fruits.

Dates are in the top ten favorite fruits.

Figs are in the top ten favorite fruits.

Grapes are in the top ten favorite fruits.

Kiwis are in the top ten favorite fruits.

Mangos are in the top ten favorite fruits.

I wonder if more data would lead to different fruits being on the top ten list

In [25]:

for value in range(1,10):
  print(value)
print("\n")
for value in range(1,11):
  print(value)

#If we wanted to go ahead and make our second range of numbers, which happens
#to be perfect for the number of items that we have in a fruit list,
# let's see how we can turn it into a list itself

1
2
3
4
5
6
7
8
9


1
2
3
4
5
6
7
8
9
10

In [3]:
numbers = list(range(1,10))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
odd_numbers = list(range(1,20,2))
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [13]:
squares = []
for value in range(1,12):
  square = value**2
  squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

You can use list comprehension as well to build lists in a manner that is more concise. It is important to remember that in list comprehensions we are fitting out for loop into one line, along with adding them to our intended list. If we wanted to store the square numbers between 2 and 15, this is an example of how we would accomplish this using list comprehension.

In [23]:
even_numbers = [value**2 for value in range(1,16)]
print(even_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [6]:
for value in range(1,21):
  print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [9]:
money = list(range(1,1000000))
print(money)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [18]:
numbers = list(range(1,1000001))
print(min(numbers))
print(max(numbers))
print(sum(numbers))

1
1000000
500000500000

In [17]:
for value in range(1,21,2):
  print(value)

1
3
5
7
9
11
13
15
17
19

In [23]:
threes = list(range(3,31,3))

for number in threes:
  print(number)

3
6
9
12
15
18
21
24
27
30

In [26]:
cubes = []

for value in range(1,11):
  cube = value**3
  cubes.append(cube)

for cube in cubes:
  print(cube)

1
8
27
64
125
216
343
512
729
1000

In [32]:
cubes = [value**3 for value in range(1,11)]
print(cubes)

for cube in cubes:
  print(cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
1
8
27
64
125
216
343
512
729
1000

In [36]:
#slicing 

fruits = ['apples', 'bananas', 'blueberries', 'cherries', 'cantaloupes',
          'dates', 'figs', 'grapes','kiwis', 'mangos']

print(fruits[0:3])
print(fruits[1:4])
print(fruits[:5])
print(fruits[6:])

['apples', 'bananas', 'blueberries']
['bananas', 'blueberries', 'cherries']
['apples', 'bananas', 'blueberries', 'cherries', 'cantaloupes']
['figs', 'grapes', 'kiwis', 'mangos']

In [37]:
fruits = ['apples', 'bananas', 'blueberries', 'cherries', 'cantaloupes',
          'dates', 'figs', 'grapes','kiwis', 'mangos']

print("Here are my top 4 favorite fruits:")
for fruit in fruits[:4]:
  print(fruit)

Here are my top 4 favorite fruits:
apples
bananas
blueberries
cherries